spring:
  datasource:

    url: jdbc:postgresql://localhost:5432/astro_app_db
    username: postgres
    password: 2025
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
      format_sql: true
    show-sql: true
